* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f2f4f8;
}

nav {
  height: 70px;
  background: #667eea;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
}

nav h2 {
  font-size: 24px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-size: 17px;
}

nav a:hover {
  text-decoration: underline;
}

.page {
  width: 500px;
  margin: 70px auto;
  background: white;
  padding: 35px;

  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);

  text-align: center;
}

.page h1 {
  margin-bottom: 15px;
  color: #333;
}

.page p {
  color: #666;
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  background: #667eea;
  color: white;
  text-decoration: none;

  padding: 12px 25px;
  border-radius: 8px;
}

.input-box {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}

.input-box input {
  flex: 1;
  padding: 12px;

  border: 1px solid #ccc;
  border-radius: 7px;

  font-size: 15px;
}

.input-box button {
  padding: 12px 20px;

  border: none;
  border-radius: 7px;

  background: #667eea;
  color: white;

  cursor: pointer;
}

.tasks {
  margin-top: 25px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #f1f1f1;

  padding: 12px;
  margin-bottom: 10px;

  border-radius: 7px;
}

.task span {
  cursor: pointer;
}

.task button {
  background: #ff4d4d;
  color: white;

  border: none;
  border-radius: 5px;

  padding: 7px 12px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: gray;
}